.BaseCategory {
  display: block;
  padding: 28px 25px 22px 23px;
  text-decoration: none;
  min-width: 443px;
  width: 48%;
  min-height: 252px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin-bottom: 50px;
}

.progress {
  height: 7px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.time {
  padding-bottom: 4px;
}

.progresses {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
  padding-bottom: 8px;
}

.title {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.subtitle {
  padding-top: 8px;
  padding-bottom: 14px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  opacity: 0.6;
}

.source {
  svg {
    border-radius: 10px;
  }
}

.wrapper {
  height: 100%;
  margin-left: 15px;
  flex: 1;
  position: relative;
}

.wrappers {
  height: 100%;
  display: flex;
}

.word {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress__ob,
.time {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.button {
  position: absolute;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 16px;
  bottom: 0;
  font-weight: 800;
  cursor: pointer;
}

.line {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 532px) {
  .button{
    position: relative;
    margin-top: 10px;
  }
  .wrap {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .BaseCategory {
    min-width: 100%;
  }
}

@media (max-width: 410px) {
  .wrappers {
    flex-direction: column;
    align-items: flex-start;
  }
  .source {
    padding-bottom: 10px;
  }
  .wrapper {
    margin-left: 0px;
  }
}
