@media (min-width: 320px) {
  header,
  footer,
  section {
    padding: 0 16px;
  }
}

@media (min-width: 575.98px) {
  header,
  footer,
  section {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px) {
  header,
  footer,
  section {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  header,
  footer,
  section {
    padding: 0 calc(50% - 412px);
  }
}

@media (min-width: 1119.98px) {
  header,
  footer,
  section {
    padding: 0 calc(50% - 520px);
  }
}

@media (max-width: 1060px){
  .CategoryPage_wrapper__3kNZd{
    justify-content: center;
  }
}
@media (max-width: 777px) {
  .CategoryIdPage_vector__39vF5 {
    display: none;
  }
}
@media (max-width: 652px) {
  .basic-swipeable-list__item,
  .basic-swipeable-list__item-content-left,
  .basic-swipeable-list__item-content-right {
    span {
      font-size: 40px !important;
    }
  }
}

@media (max-width: 532px) {
  .BaseCategory_wrap__11nBM {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 410px) {
  .BaseCategory_wrappers__1WQre {
    flex-direction: column;
    align-items: flex-start;
  }
  .BaseCategory_source__2IyVb {
    padding-left: 15px;
    padding-bottom: 10px;
  }
}

@media (max-width: 392px) {
  .BaseHeader_button__1-Jbi {
    min-width: 120px;
  }
}
