@media (min-width: 320px) {
  header,
  footer,
  section {
    padding: 0 16px;
  }
}

@media (min-width: 575.98px) {
  header,
  footer,
  section {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px) {
  header,
  footer,
  section {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  header,
  footer,
  section {
    padding: 0 calc(50% - 412px);
  }
}

@media (min-width: 1119.98px) {
  header,
  footer,
  section {
    padding: 0 calc(50% - 520px);
  }
}

@media (max-width: 652px) {
  .basic-swipeable-list__item,
  .basic-swipeable-list__item-content-left,
  .basic-swipeable-list__item-content-right {
    span {
      font-size: 40px !important;
    }
  }
}

